<!DOCTYPE html>
<html>
  <head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-8.0.1.css" type="text/css" />

    <!-- External JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <title>Soy Ramentic</title>
  </head>

  <body>
    <% include partials/_homeHeader %>

    <div>
      <main>
        <div class="basket">
          <div class="basket-labels">
            <table>
              <tr>
                <th class="item-heading">Item</th>
                <th class="price">Price</th>
                <th class="quantity">Quantity</th>
                <th class="subtotal">Subtotal</th>
              </tr>
              <form id="userorderdetails" method="post" action="/payment">
                <div class="basket-product">
                  <% for (let item of Object.values(items)) { %>
                  <tr class="food-table">
                    <td>
                      <input
                        type="hidden"
                        name="item-id"
                        value="<%= item.id %>"
                      />
                      <input
                        type="hidden"
                        name="restaurant-id"
                        value="<%= item.restaurant_id %>"
                      />
                      <div class="food-item">
                        <%= item.name %>
                        <input
                          type="hidden"
                          name="item-name"
                          value="<%= item.name %>"
                        />
                      </div>
                      <div class="food-description">
                        <%= item.description %>
                      </div>
                    </td>

                    <td class="table-price">
                      <div class="item-price">
                        <%= (item.price/100).toFixed(2) %>
                        <input
                          type="hidden"
                          name="item-price"
                          value="<%= item.price/100 %>"
                        />
                      </div>
                    </td>

                    <td class="table-quantity">
                      <div class="quantity">
                        <input
                          type="number"
                          value="0"
                          min="0"
                          class="quantity-field"
                          name="item-quantity"
                        />
                      </div>
                    </td>

                    <td class="table-subtotal">
                      <div class="item-subtotal">0</div>
                    </td>
                    <% } %>
                  </tr>
                </div>
              </form>
            </table>
          </div>
        </div>

        <div class="container">
          <aside>
            <div class="summary">
              <div class="summary-total-items">
                <span class="total-items"></span> Items in your Bag
              </div>

              <div class="summary-subtotal">
                <div class="subtotal-title">Subtotal</div>
                <div class="subtotal-value final-value" id="basket-subtotal">
                  0.00
                </div>
              </div>
              <div class="summary-tax">
                <div class="tax-title">Tax</div>
                <div class="tax-value final-value " id="basket-tax">
                  0.00
                </div>
              </div>

              <div class="summary-total">
                <div class="total-title">Total</div>
                <div class="total-value final-value" id="basket-total">
                  0.00
                </div>
              </div>
              <div
                class="summary-checkout"
                id="completeOrd"
                style="display: none"
              >
                <p>Order Has Been Sent</p>
                <input
                  type="submit"
                  form="userorderdetails"
                  class="checkout-cta"
                  value="Go To Orders!"
                />
              </div>
              <div id="checkout">
                <button id="buyButton">Checkout</button>
              </div>
            </div>
          </aside>
        </div>
      </main>
    </div>
  </body>

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="/scripts/restaurant1.js"></script>
  <script src="/scripts/googlePay.js"></script>
</html>
