<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <meta charset="utf-8" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Delicious</title>
  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords"
    content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-8.0.1.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/restaurant1.css" type="text/css" />
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

  <!-- External JS -->

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <title>Soy Ramentic</title>
</head>

<body>
  <% include partials/_userHeader %>
  <main>
    <div class="main-menu">
      <div class="basket">
        <div class="basket-labels">
          <table>
            <tr class="animated duration-5s fadeInUp">
              <th class="item-heading">Item</th>
              <th class="price">Price</th>
              <th class="quantity ">Quantity</th>
              <th class="subtotal">Subtotal</th>
            </tr>
            <form id="userorderdetails" method="post" action="/payment">
              <div class="basket-product">
                <% for (let item of Object.values(items)) { %>
                <tr class="food-table">
                  <td class="name-description">
                    <input type="hidden" name="item-id" value="<%= item.id %>" />
                    <input type="hidden" name="restaurant-id" value="<%= item.restaurant_id %>" />
                    <div class="food-item">
                      <%= item.name %>
                      <input type="hidden" name="item-name" value="<%= item.name %>" />
                    </div>
                    <div class="food-description">
                      <%= item.description %>
                    </div>
                    <span style="left: 166px; right: 44px;" class="menu-line"></span>
                  </td>

                  <td class="table-price">
                    <div class="item-price">
                      <%= (item.price/100).toFixed(2) %>
                      <input type="hidden" name="item-price" value="<%= item.price/100 %>" />
                    </div>
                  </td>

                  <td class="table-quantity">
                    <div class="quantity">
                      <input type="number" value="0" min="0" class="quantity-field" name="item-quantity" />
                    </div>
                  </td>

                  <td class="table-subtotal">
                    <div class="item-subtotal">0</div>
                  </td>
                  <% } %>
                </tr>
              </div>
            </form>
          </table>
        </div>
      </div>
      <div id="checkout-summary">
        <div class="container animated duration-3s fadeInRight" id="small-checkout">
          <aside>
            <div class="summary "> <i class="fa fa-shopping-cart"></i> Summary Checkout
              <div class="summary-total-items">
                <span class="total-items"></span> Items in your Bag
              </div>

              <div class="summary-subtotal">
                <div class="subtotal-title">Subtotal</div>
                <div class="subtotal-value final-value" id="basket-subtotal">
                  0.00
                </div>
              </div>
              <div class="summary-tax">
                <div class="tax-title">Tax</div>
                <div class="tax-value final-value " id="basket-tax">
                  0.00
                </div>
              </div>

              <div class="summary-total">
                <div class="total-title">Total</div>
                <div class="total-value final-value" id="basket-total">
                  0.00
                </div>
              </div>
              <div class="summary-checkout" id="completeOrd" style="display: none">
                <p>Order Has Been Sent</p>
                <input type="submit" form="userorderdetails" class="checkout-cta" value="Go To Orders!" />
              </div>
              <div id="checkout">
                <button class="btn btn-outline-secondary" id="buyButton">Checkout</button>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </main>
</body>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/scripts/restaurant1.js"></script>
<script src="/scripts/googlePay.js"></script>

</html>