<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-8.0.1.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <!-- External JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- custom css styling -->
    <link rel="stylesheet" href="/css/restaurantpage.css" type="text/css" />

    <title>Order History</title>
  </head>
  ​
  <body>
      <% include partials/_otherHeader %>
    
      <% let notAccepted = []  %>
      <% let inProgress = []  %>
      <% let completedOrder = [] %>
  
      <% for (let order of orders) { %>
        <% if (order[0].status === "Not Accepted") { %>
          <% notAccepted.push(order)%>
        <% } else if (order[0].status === "Accepted - In Progress") { %>
          <% inProgress.push(order)%>
        <% }  else { %>
        <% completedOrder.push(order)%>
      <% }} %>
      
    <div class="container">
      <div class="unaccepted">
        <h4>Unaccepted Orders</h4>
        <% for (let order of notAccepted) { %>
        <div class="orderHold">
          <div class="header">
            <button class="btn btn-outline-info food-list">
              <%=order[0].user_order%>
            </button>
            <div class="order-user-name"><%= order[0].user_name %></div>
            <div class="order-created-time"><%= order[0].created_at %></div>
          </div>
          <div class="item-detail" id="<%=order[0].user_order%>">
            <table class="itemtable">
              <tr class="table-header">
                <th class="items">Item Name</th>
                <th class="quants">Quantity</th>
              </tr>
              <% for (let item of order) { %>
              <tr>
                <td class="items"><%=item.item_name%></td>
                <td class="quants"><%=item.quantity%></td>
              </tr>
              <% } %>
            </table>

            <div class="time-input-section">
              <div class="input-header">Preparation Time</div>
              <form id="twilio" method="post" action="/restaurantpage">
                <div>
                  <input type="text" name="time" value="10" />
                  <input
                    type="hidden"
                    name="order_id"
                    value="<%= order[0].user_order%>"
                  />
                  <button type="submit" id="itemsubmission">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <% } %>
      </div>

      <div class="accepted">
        <h4>Accepted Orders</h4>
        <% for (let order of inProgress) { %>
        <div class="orderHold">
          <div class="header">
            <button class="btn btn-outline-info food-list">
              <%=order[0].user_order%>
            </button>
            <div class="order-user-name"><%= order[0].user_name %></div>
            <div class="order-created-time"><%= order[0].created_at %></div>
          </div>

          <div class="item-detail" id="<%=order[0].user_order%>">
            <table class="itemtable">
              <tr class="table-header">
                <th class="items">Item Name</th>
                <th class="quants">Quantity</th>
              </tr>
              <% for (let item of order) { %>
              <tr>
                <td class="items"><%=item.item_name%></td>
                <td class="quants"><%=item.quantity%></td>
              </tr>
              <% } %>
            </table>

            <div class="time-input-section">
              <form id="twilio" method="post" action="/restaurantpage">
                <div>
                  <input
                    type="hidden"
                    name="completed_order_id"
                    value="<%= order[0].user_order%>"
                  />
                  <button type="submit" id="itemsubmission">Complete</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <% } %>
      </div>

      <div class="completed">
        <h4>Completed Orders</h4>
        <% for (let order of completedOrder) { %>
        <div class="orderHold">
          <div class="header">
            <button class="btn btn-outline-info food-list">
              <%=order[0].user_order%>
            </button>
            <div class="order-user-name"><%= order[0].user_name %></div>
            <div class="order-created-time"><%= order[0].created_at %></div>
          </div>

          <div class="item-detail" id="<%=order[0].user_order%>">
            <table class="itemtable">
              <tr class="table-header">
                <th class="items">Item Name</th>
                <th class="quants">Quantity</th>
              </tr>
              <% for (let item of order) { %>
              <tr>
                <td class="items"><%=item.item_name%></td>
                <td class="quants"><%=item.quantity%></td>
              </tr>
              <% } %>
            </table>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>

  <script type="text/javascript" src="/scripts/userorderstatus.js"></script>
  ​
</html>
​
